@model EntityLayer.Dto.CompanyProfile
@{
    ViewData["Title"] = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!--     G    ritter -->
    <link href="~/inspinia-gh-pages/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/style.css" rel="stylesheet">
    <!--     Morris -->
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
</head>
<body>

    <div class="content-wrapper" style="padding-top: 80px;">


        <form asp-controller="Company" asp-action="Compare">
            <div class="form-group">
                <label asp-for="Profile.Id" class="control-label">Select Company to Compare</label>
                <select id="profile_select" asp-for="Profile.Id" class="form-control" asp-items="Model.profiles">
                </select>
                <span asp-validation-for="Profile.Id" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-warning">Compare!</button>
            </div>
        </form>

       @* <div id="fruit-details"></div>
        <div id="CompareCompanyContainer"></div>
        <div class="form-group">
        <label asp-for="Profile.Id" class="control-label">Company</label>
        <select asp-for="Profile.Id" class="form-control" asp-items="ViewBag.Companies">
        </select>
            <span asp-validation-for="Profile.Id" class="text-danger"></span>
        </div>*@

        <div class="row">
            <div class="col-md-6">

                <h2 class="font-bold m-b-xs">
                    @Model.Profile.Symbol
                </h2>
                <div>
                    <div class="btn-group">

                        <a class="btn btn-white btn-sm" asp-controller="Company" asp-action="Index" asp-route-id="@Model.Profile.Id"> Go to the Profile </a>
                    </div>
                </div>
                <div class="m-t-md">
                    <h2 class="product-main-price">$@Model.prices.Price <small class="text-muted">Current Price</small> </h2>
                </div>
                <hr>

                <h4>Company Statistics</h4>

                <div class="row">
                    <div class="col-4">
                        <ul>
                            <li>
                                Market Change: @Model.prices.MarketChange
                            </li>
                            <li>
                                Market Capacity: @Model.FinancialData.marketCap
                            </li>
                            <li>
                                Gross Profit: @Model.FinancialData.grossProfits
                            </li>
                            <li>
                                Target Mean Price: @Model.FinancialData.targetMeanPrice
                            </li>
                            <li>
                                Target Median Price: @Model.FinancialData.targetMedianPrice
                            </li>
                        </ul>
                    </div>
                    @*<div class="col-4">
                    <ul>
                    <li>Gross Margin: @Model.FinancialData.GrossMargin</li>
                    <li>Earnings Growth: @Model.FinancialData.EarningsGrowth</li>
                    <li>Revenue Per Share: @Model.FinancialData.RevenuePerShare</li>
                    <li>Total Dept: @Model.FinancialData.TotalDept</li>
                    <li>Total Revenue: @Model.FinancialData.TotalRevenue</li>
                    </ul>
                    </div>*@
                    <div class="col-4">
                        <ul>
                            <li>Total Cash Per Share: @Model.FinancialData.totalCashPerShare</li>
                            <li>50 Days Avg: @Model.FinancialData.fiftyDayAverage</li>
                            <li>Year High: @Model.FinancialData.fiftyTwoWeekHigh</li>
                            <li>Year Low: @Model.FinancialData.fiftyTwoWeekLow</li>
                            <li>200 Days Avg: @Model.FinancialData.twoHundredDayAverage</li>
                        </ul>
                    </div>

                </div>
                <br />
                <br />


                @* <dl class="small m-t-md">
                <dt>Should we buy?</dt>
                <dd>@Model.FinancialData.RecommendationKey</dd>
                <dt>Mean of Recommendation</dt>
                <dd>@Model.FinancialData.RecommendationMean</dd>

                </dl>*@
                <hr>

              
            </div>


            <div class="col-md-6">

                
                <div id="CompareCompanyContainer">
                    @await Html.PartialAsync("_CompareCompanies")
                </div>


            </div>
        </div>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.0/chartjs-plugin-zoom.min.js"
        integrity="sha512-B6F98QATBNaDHSE7uANGo5h0mU6fhKCUD+SPAY7KZDxE8QgZw9rewDtNiu3mbbutYDWOKT3SPYD8qDBpG2QnEg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
</script>






<!-- Mainly scripts -->
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/popper.min.js"></script>
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/bootstrap.js"></script>
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<!-- Custom and plugin javascript -->
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/inspinia.js"></script>
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/plugins/pace/pace.min.js"></script>


<!-- jQuery UI -->
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Jvectormap -->
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- Peity -->
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/plugins/peity/jquery.peity.min.js"></script>
<script src="~/inspinia-gh-pages/inspinia-gh-pages/js/demo/peity-demo.js"></script>

<script>
    //$(function () {
    //    $("#profile_select").change(function () {
    //        var selectedId = $(this).val();
    //        $.get("/Company/Compare/" + selectedId, function (data) {
    //            $("#fruit-details").html(data);
    //        });
    //    });
    //});

    $(document).ready(function () {
        $('#profile_select').change(function () {
            var selectedItemId = $(this).val(); // get the selected item value (which is the ID)
            console.log(selectedItemId);
            // send the ID to a .NET Core view component using AJAX
            $.ajax({
                type: 'GET',
                url: '/Company/CompareCompanies?id=' + selectedItemId,
                success: function (response) {
                    console.log(selectedItemId);

                    // update the view with the response HTML
                    $('#CompareCompanyContainer').html(response);
                },
                error: function () {
                    // handle error
                }
            });
        });
    });
</script>
