@model RadarViewModel
@{
    ViewData["Title"] = "Radar";
    Layout = "~/Views/Shared/_RadarLayout.cshtml";
}


<div class="row">

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Radar </h5>
               
            </div>
            <div class="ibox-content">
                <div class="row">
                   
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
                        Filter Options
                    </button>
                    <div class="modal inmodal fade" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true" >
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content animated fadeIn">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    
                                    <h4 class="modal-title">Filter Options</h4>
                                    
                                </div>
                                <form asp-action="Radar" method="get">
                                <div class="modal-body">
                                    
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                   
                                                    <input class="form-control" type="text" placeholder="Symbol" asp-for="SymbolFilter" />
                                                </div>

                                                <div class="form-group">
                                                   
                                                    <input class="form-control" type="text" placeholder="Name" asp-for="NameFilter" />
                                                </div>

                                                <div class="form-group">
                                                   
                                                    @Html.DropDownListFor(x=>x.IndustryFilter, (List<SelectListItem>)ViewBag.industries, "Select Industry..." , new {@class="form-select", aria_describedby="ddlcompany", placeholder="Industry",type="text"})
                                                    @*@Html.ValidationMessageFor(x => x.IndustryFilter, null, new { @class = "validation-style text-danger" })*@
                                                </div>
                                                
                                                <div class="form-group">
                                                   
                                                    @Html.DropDownListFor(x=>x.SectorFilter, (List<SelectListItem>)ViewBag.sectors, "Select Sector..." , new {@class="form-select", aria_describedby="ddlcompany", placeholder="Sector",type="text"})
                                                    @*@Html.ValidationMessageFor(x => x.SectorFilter, null, new { @class = "validation-style text-danger" })*@
                                                </div>

                                                
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Price" asp-for="MinPriceFilter" />
                                                </div>
                                                <div class="form-group">
                                                    
                                                    <input class="form-control" type="number" placeholder="Max Price" asp-for="MaxPriceFilter" />
                                                </div>

                                                <div class="form-group">
                                                   
                                                    <input class="form-control" type="number" placeholder="Min Volume" asp-for="MinVolumeFilter" />
                                                </div>

                                                <div class="form-group">
                                                   
                                                    <input class="form-control" type="number" placeholder="Max Volume" asp-for="MaxVolumeFilter" />
                                                </div>
                                            </div>
                                            @*<div class="col-4">
                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Max Price" asp-for="MaxPriceFilter" />
                                                </div>

                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Volume" asp-for="MinVolumeFilter" />
                                                </div>

                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Max Volume" asp-for="MaxVolumeFilter" />
                                                </div>
                                            </div>*@
                                        </div>
                                        <hr />
                                       
                                        <div class="row">
                                            
                                            <div class="col-4">
                                                <h6>Revenue</h6>
                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Total Revenue" asp-for="MinTotalRevenue" />
                                                </div>

                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Revenue Growth" asp-for="MinRevenueGrowth" />
                                                </div>

                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Revenue Per Share" asp-for="MinRevenuePerShare" />
                                                </div>

                                               


                                            </div>
                                           
                                            <div class="col-4">
                                                <h6>Cash</h6>
                                                <div class="form-group">
                                                     
                                                    <input class="form-control" type="number" placeholder="Min Total Cash" asp-for="MinTotalCash" />
                                                </div>
                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Total Cash Per Share" asp-for="MinTotalCashPerShare" />
                                                </div>

                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Total Dept" asp-for="MinTotalDept" />
                                                </div>

                                                
                                            </div>
                                           @* <div class="col-4">
                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Max Price" asp-for="MaxPriceFilter" />
                                                </div>

                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Min Volume" asp-for="MinVolumeFilter" />
                                                </div>

                                                <div class="form-group">

                                                    <input class="form-control" type="number" placeholder="Max Volume" asp-for="MaxVolumeFilter" />
                                                </div>
                                            </div>*@
                                        </div>

                                        
                                        
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                        <button class="btn btn-outline-primary" type="submit">Filter</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                
                                <th>Symbol </th>
                                <th>Close </th>
                                <th>Price </th>
                                <th>Market Change </th>
                                <th>Volume </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.prices)
                            {
                                <tr>

                                    <td><a asp-controller="Company" asp-action="Index" asp-route-id="@item.Id">@item.Symbol</a></td>
                                    <td>@item.PreviousClose</td>
                                    <td>@item.Price</td>
                                    <td>@item.MarketChange</td>
                                    <td>@item.Volume</td>
                                   
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
