@using EntityLayer.Dto
@model UserProfile
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container" style="margin-top: 60px;" !important>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Favorites</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <ul class="todo-list m-t small-list">
                        @if (Model.favs.Count > 0)
                        {
                            @foreach (var item in Model.favs)
                            {
                                <li>
                                    <a href="#"><i class="fa fa-star"></i> </a>
                                    <a role="button" asp-route-id="@item.Profile.Id" asp-controller="Company" asp-action="Index"><span class="m-l-xs ">@item.Profile.Symbol</span></a>

                                </li>
                            }

                        }
                        else
                        {

                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>News </h5>

                </div>
                @foreach (var item in Model.news)
                {
                    <div class="ibox-content">


                        <div>
                            <div class="float-right text-right">
                                <br />
                                <small class="font-bold">@item.Resource</small>
                            </div>
                            <h4>
                                <a href="@item.Link" class="small" target="_blank">@item.Title</a>
                                <br />
                                @*<small class="m-r"><a href="graph_flot.html"> Check the stock price! </a> </small>*@
                            </h4>
                        </div>


                    </div>
                }
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Companies </h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped" id="table1">
                            <thead>
                                <tr>

                                    
                                    <th>Symbol </th>
                                    <th>Name</th>
                                    <th>Sector</th>
                                    <th>Industry</th>
                                    <th>Website</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.profiles)
                                {
                                    <tr>
                                        
                                        <td><a class="navy-link" role="button" asp-route-id="@item.Id" asp-controller="Company" asp-action="Index">@item.Symbol</a></td>
                                        <td>@item.LongName</td>
                                        <td>@item.Sector</td>
                                        <td>@item.Industry</td>

                                        <td><a href="@item.Website" target="_blank">@item.Website</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
