@model EntityLayer.Dto.CompanyProfile

<div id="fruit-details"></div>
<h2 class="font-bold m-b-xs">
    @Model.Profile.Symbol
</h2>
<div>
    <div class="btn-group">

        <a class="btn btn-white btn-sm" asp-controller="Company" asp-action="Index" asp-route-id="@Model.Profile.Id"> Go to the Profile </a>
    </div>
</div>
<div class="m-t-md">
    <h2 class="product-main-price">$@Model.prices.Price <small class="text-muted">Current Price</small> </h2>
</div>
<hr>

<h4>Company Statistics</h4>

<div class="row">
    <div class="col-4">
        <ul>
            <li>
                Market Change: @Model.prices.MarketChange
            </li>
            <li>
                Market Capacity: @Model.FinancialData.marketCap
            </li>
            <li>
                Gross Profit: @Model.FinancialData.grossProfits
            </li>
            <li>
                Target Mean Price: @Model.FinancialData.targetMeanPrice
            </li>
            <li>
                Target Median Price: @Model.FinancialData.targetMedianPrice
            </li>
        </ul>
    </div>
    <div class="col-4">
        <ul>
            <li>Total Cash Per Share: @Model.FinancialData.totalCashPerShare</li>
            <li>50 Days Avg: @Model.FinancialData.fiftyDayAverage</li>
            <li>Year High: @Model.FinancialData.fiftyTwoWeekHigh</li>
            <li>Year Low: @Model.FinancialData.fiftyTwoWeekLow</li>
            <li>200 Days Avg: @Model.FinancialData.twoHundredDayAverage</li>
        </ul>
    </div>
        <div class="col-4">
        <ul>
                @*<li>Shares: @Model.Shares</li>
                <li>50 Days Avg: @Model._50DayAvg</li>
                <li>3 Month Avg: @Model._3MonthAvgVol</li>
                <li>10 Days Avg: @Model._10DaysAvgVol</li>
                <li>200 Days Avg: @Model._200DaysAvg</li>*@
            </ul>
        </div>
    
</div>
<br />
<br />
   

@*<dl class="small m-t-md">
    <dt>Should we buy?</dt>
    <dd>@Model.FinancialData.RecommendationKey</dd>
    <dt>Mean of Recommendation</dt>
    <dd>@Model.FinancialData.RecommendationMean</dd>
    
</dl>*@
<hr>

